body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
}


.header_text, .text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: violet;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
}


.btn {
    background-color: violet;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: red;
}

.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if needed */
    height: 100vh; /* Optional: Adjust based on desired height, might not need if body is already flex */
    background-color: pink; /* Optional: Visual aid to see the container */
}

/* Ensure .gif_container and any other elements are also centered */
.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
